body {
  background-color: #5075EB;
  text-align: center;
  font-family: 'Silkscreen', cursive;
  font-size: 1.5rem;
  color: #FFFFFF;
}

input {
  padding: 30px;
}

.pressed {
  opacity: 0.5;
}

.game-over {
  background-color: #B30000;
}
